<html>
<head>
    <title>Pyahtzee</title>
</head>
<body>

<p>Yahtzee for Snakes!</p>

{% if players in session %}

{% for player in range(players) %}
<div class="scorecard">

<h2>Scorecard</h2>

<div>Aces: {{session['scoreboard']["Aces"][player]}}</div>
<div>Twos: {{session['scoreboard']["Twos"][player]}}</div>
<div>Threes: {{session['scoreboard']["Threes"][player]}}</div>
<div>Fours: {{session['scoreboard']["Fours"][player]}}</div>
<div>Fives: {{session['scoreboard']["Fives"][player]}}</div>
<div>Sixes: {{session['scoreboard']["Sixes"][player]}}</div>
<div>Three of a Kind: {{session['scoreboard']["Three of a Kind"][player]}}</div>
<div>Four of a Kind: {{session['scoreboard']["Four of a Kind"][player]}}</div>
<div>Full House: {{session['scoreboard']["Full House"][player]}}</div>
<div>Small Straight (Sequence of 4): {{session['scoreboard']["Small Straight (Sequence of 4)"][player]}}</div>
<div>Large Straight (Sequence of 5): {{session['scoreboard']["Large Straight (Sequence of 5)"][player]}}</div>
<div>Yahtzee: {{session['scoreboard']["Yahtzee"][player]}}</div>
<div>Chance: {{session['scoreboard']["Chance"][player]}}</div>


</div>

{% endfor %}

{% else %}

<form method="POST" action="/players">
<input type="number" name="players" required>
<input type="submit" value="Play!">
</form>

{% endif %}

</body>
</html>